<ion-view style="" id="page5" title="{{action}} Elemento">
    <ion-content class="has-header" padding="true">
      <form id="aAdirAlInventario-form1">
        <formly-form class="list"  fields="invFields" model="inv">
            <!--label id="aAdirAlInventario-select1" class="item item-select">
                <span class="input-label">Categoria</span>
                <select ng-options="categoria.nombre for categoria in categorias track by categoria.id" ng-model="inv.cat">
                </select>
            </label!-->
            <button class="button button-balanced  button-block button-outline" id="aAdirAlInventario-button2" ng-click="sendToStorage()">{{action}}</button>
        </formly-form>
      </form>
    </ion-content>
</ion-view>
