<ion-view style="" id="page2" title="Inventario ">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-compose" ui-sref="tabsController.aAdirAlInventario"></button>
  </ion-nav-buttons>
    <ion-content class="has-header" padding="true">
        <ion-list id="inventario-list1">
          <ion-item ng-if="invElements.length == 0" style="" >No hay ningun item.</ion-item>
          <ion-item ng-repeat="item in invElements" style="" ng-click="goTo(item.id)">{{item.item}}</ion-item>
        </ion-list>
        <ion-list id="inventario-list1"ng-if="invElements.length != 0">
          <ion-item ng-repeat="(key, value) in totales" style="" >{{key | uppercase}}: {{value}}</ion-item>
        </ion-list>

    </ion-content>
</ion-view>
<!--
<ion-item style="" id="inventario-list-item4" class="item-icon-left">
    <i class="icon ion-ionic"></i>Item</ion-item>
<ion-item style="" id="inventario-list-item5" class="item-thumbnail-left">
    <h2>Item</h2>
</ion-item>
<ion-item style="" id="inventario-list-item3">Item 3</ion-item>
!-->
